@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-grad-1: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --bg-grad-2: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
}

body {
  background: var(--bg-grad-1);
}

.pageSection {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff2;
}
.pageBody {
  color: white;
  padding: 50px 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}
